/* 공통 CSS */
a {
  text-decoration: none;
}

.kakaobtn{
  width: 200px;
  height: 60px;
  background: url("../public/assets/kakao_login_medium_narrow.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/* 로그인 module */
.Login {
margin-top: 150px;
padding:0px 0 150px;
}
.Login .LoginBox {
  width: 600px;
  margin: 0 auto;
  border-radius: 6px;
  background-color:#f6f5f0;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  color: #555;
}
.Login h2{
  padding: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.Login h2 strong{
  font-size: 70px;
  font-weight: 700;
  color: #4aa5cf;
}
.Login .kakao_wrapper{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

/* HomeHeader */
  header{
    height: 100vh;
    width: fit-content;
    background-color: rgb(211, 84, 84);
    border: 1px solid black;
  }
header .menubar{
  background-color: rgb(97, 69, 73);
  text-align: center;
}
header .menubar div{
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

  /* UserInfo */
  .UserInfo {
    width: 100%;
    height:max-content;
    background-color: rgb(112, 112, 146);
  }
  .UserInfo .imgbox{
    width: 100px;
    height: 100px;
    background-color: rgb(224, 224, 209);
  }
  .UserInfo div{
  }

  /* Usermain */
  .Usermain {
    display: flex;
  }