@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import "reset.css";

/* 공통 CSS */
a {
  text-decoration: none;
}
body{
  /* font-family: 'Jua', sans-serif, 'Noto Sans KR', sans-serif; */
  font-family: Arial, sans-serif;
}
.kakaobtn{
  width: 200px;
  height: 60px;
  background: url("../public/assets/kakao_login_medium_narrow.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

/* Login.js */
.Login {
  background-image: url("../public/assets/containership.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.Login .LoginBox {
  position: absolute;
  width: 40%;
  top:200px;
  border-radius: 6px;
  background-color:#ffffff;
  box-shadow: 2px 2px 20px rgba(0,0,0,.5);
  color: rgb(0, 0, 0);
}
.Login h2{
  padding: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.Login h2 strong{
  font-size: 70px;
  font-weight: 700;
  color: #1f353f;
}
.Login .login_wrapper {
  margin:10px;
  display: flex;
  justify-content: center;
}
.Login .kakaobtn{
  justify-content: center;
}

/* Loading */
.Loading {
  font-size: 30px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

/* SignUp */
.SignUp {
  background-image: url("../public/assets/containership.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.SignUp .signup_wrapper{
  margin-top: 150px;
  width: 500px;
  height: fit-content;
  background-color: #f6f5f0;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  border:1px solid black;
  font-weight: 700;
}
.SignUp  .signup_text{
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin:15px;
}
.SignUp form{
  font-size: 20px;
  padding:10px 30px 0px;
}
.SignUp form input, .SignUp form select, .VesselEnroll .vessel_wrapper form select{
  width: 100%;
  margin-top:7px;
  margin-bottom: 12px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  border: 2px solid black;
}
.SignUp form select{
  border: 2px solid black;
}

.SignUp button {
  font-family: 'Jua', sans-serif;
  width: 100%;
  font-size: 25px;
  margin: 20px 0px;
  border-radius: 5px;
}

/* Usermain */
.Usermain{
  height: 100;
  width: 100%;
}

/* Header */
.Header{
  position: fixed;
  background-color: #333;
  color: white;
  width: 250px;
  height:100%;
  border-right: 2px solid black;
}

/* UserInfo */
.UserInfo{
  width:100%;
  height: fit-content;
  border-bottom: 1px solid white;
}

.UserInfo .sys_name{
  text-align: center;
  color:aqua;
  background-color: #2c2a29;
  height: 40px;
  padding-top: 10px;
  font-weight:900;
  font-size: 30px;
  border-bottom: 1px solid #333;
}

.UserInfo .user_img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.UserInfo img{
  border-radius: 70%;
  background-color: #ececec;
  width: 100px;
  height: 100px;
}
.UserInfo .user_data{
  margin-top: 15px;
  margin-left: 10px;
  width: 100%;
}
.UserInfo .user_data div{
  padding-bottom: 10px;
}

/* MenuList */
.MenuList{
  height: fit-content;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.MenuList a{
  color: white;
  padding: 20px;
  border-bottom: 1px solid black;
  display:block;
}

.MenuList .logout{
  padding:20px;
}

.MenuList .logout button {
  background-color: #333;
  color:white;
  position:relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  border:0;
  cursor: pointer;
  /* font-family: 'Jua', sans-serif, 'Noto Sans KR', sans-serif; */
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.MenuList .logout img{
  position: absolute;
  bottom:0;
  left:45px;
  top:3px;
  width: 20px;
  height: 20px;
}



/* VesselEnroll */
.VesselEnroll {
  position: absolute;
  top:10vh;
  left:40vw;
}

.VesselEnroll .vessel_wrapper{
  width: 500px;
  background-color: #f6f5f0;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  border:1px solid black;
}

.VesselEnroll  h2{
  display: block;
  text-align: center;
  font-size: 30px;
  margin:20px;
}

.VesselEnroll form{
  font-size: 20px;
  padding:0px 30px 0px;
}
.VesselEnroll form input{
  width: 100%;
  margin-bottom: 12px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.VesselEnroll button {
  font-family: 'Jua', sans-serif;
  width: 100%;
  font-size: 25px;
  margin: 20px 0px;

  border-radius: 5px;
}

/* VesselLookup */
.VesselLookup, .MyVessel{
  position: relative;
  left: 30vw;
  border-radius: 5px;
  width: fit-content;
  height: 100%;
}

.VesselLookup .Lookup{
  position: fixed;
  top:10px;
  z-index: 999;
  width: 50vw;
  color: white;
  background-color: #333;
  border: 1px solid black;
  border-radius: 7px;
  padding:10px;
  padding-left: 20px;
  box-sizing: border-box;
}

.VesselLookup .Lookup h2{
  display: flex;
  justify-content: center;

  color: white;
  font-size: 30px;

  padding: 10px;
}

.VesselLookup .Lookup input{
  margin : 3px;
}

.VesselLookup .Lookup button{
  position: absolute;
  cursor: pointer;
  margin : 3px;
}

/* VesselList */
.VesselList{
  position: relative;
  top:195px;
  width: 50vw;
  background-color: #333;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom:5px;
}
.VesselList select{
  margin-top:15px;
  margin-left:20px;
}

/* VesselItem */
.VesselItem{
  position: relative;
  display: flex;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  margin: 20px;
}
.VesselItem .vesselInfo{
  display: flex;
  width: 100%;
}
.VesselItem .vesselInfo div{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:5px;
  padding-bottom:5px;
  border-right: 1px solid black;

}
.VesselItem button{
  position: absolute;
  right:10px;
  bottom:30%;
}

/* MyVessel */
.MyVessel{
  width: 50vw;
}
.MyVessel h2{
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  font-weight:700;
}
.MyVessel .VesselList{
  top:45px;
}

/* VesselDetail */
.VesselDetail{
  height: 100%;
  display: flex;
  position: relative;
  width: fit-content;
  left:300px;
  padding-top: 10px;
}
.VesselDetail .vesselInfo, .BlockDetail .vesselInfo, .BlockDetail .blockInfo{
  min-width:fit-content;
  height: fit-content;

  background-color: #333;
  color: white;
  
  padding:10px;
  border: 1px solid black;
  border-radius: 5px;
}
.VesselDetail .vesselInfo h2, .BlockDetail .vesselInfo h2, .BlockDetail .blockInfo h2{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin:10px;
}
.VesselDetail .Lookup_wrapper{
  width: 1000px;
  margin-left: 50px;
}
.VesselDetail .Lookup_wrapper .Lookup{
  position: relative;
  background-color: #333;
  color:white;
  min-width: fit-content;
  height: 100px;
  border: 1px solid black;
  border-radius: 5px;
  padding:15px;
}
.VesselDetail .Lookup_wrapper .Lookup h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-top:10px;
  margin-bottom: 20px;
}
.VesselDetail .Lookup_wrapper .Lookup button{
  position: absolute;
  right: 15px;
  bottom:15px;
}
.VesselDetail .Lookup_wrapper button{
  margin-top: 10px; 
}

/* BlockList */
.BlockList{
  width: 50vw;
  margin-top: 10px;
}

/* BlockItem */
.BlockItem{
  width: 1000px;
  margin-bottom: 10px;

  color:white;
  background-color: #333;
  border-radius: 5px;
}
.BlockItem .BlockInfo{
  padding: 15px;
  position: relative;
}
.BlockItem .BlockInfo button{
  position: absolute;
  right:10px;
  bottom:10px;
}

/* BlockEnroll */
.BlockEnroll{
  position: absolute;
  top:10vh;
  left:20vw;
}
.BlockEnroll .Block_wrapper{
  width: 500px;
  color:white;
  background-color: #333;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  border:1px solid black;
}
.BlockEnroll .Block_wrapper h2{
  display: block;
  text-align: center;
  font-size: 30px;
  margin:20px;;
}
.BlockEnroll .Block_wrapper form{
  font-size: 20px;
  padding:0px 30px 0px;
}
.BlockEnroll .Block_wrapper form input{
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}
.BlockEnroll .Block_wrapper form select{
  width: 100%;
  font-size: 14px;
  padding:7px;
}
.BlockEnroll .Block_wrapper button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.BlockEnroll .Block_wrapper .cancelBtn{
  margin-left: 323px;
}

/* BlockDetail */
.BlockDetail {
  display: flex;
  position: relative;
  left:300px;
}

.BlockDetail .info_wrapper {
  margin-top: 10px;
}

.BlockDetail .info_wrapper .vesselInfo{
  border: 1px solid black;
  border-radius: 5px;
}
.BlockDetail .info_wrapper .blockInfo{
  margin-top: 20px;
}
.BlockDetail .component_wrapper{
  margin-left: 30px;
  padding-top: 10px;
}

.BlockDetail .component_wrapper .Lookup{
  position: relative;
  border: 1px solid black;
  border-radius: 5px;

  background-color: #333;
  color:white;
  width: 1000px;
  padding:15px
}

.BlockDetail .component_wrapper .Lookup h2{
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  margin-top:10px;
  margin-bottom: 20px;
}

.BlockDetail .component_wrapper .Lookup button{
  position: absolute;
  right:15px;
  bottom:15px;
}
.BlockDetail .component_wrapper .btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ComponentList */
.ComponentList{}

/* ComponentItem */
.ComponentItem {
  border: 1px solid black;
  border-radius: 5px;
  
  
  padding:10px;
  margin-bottom: 10px;

  color: white;
  background-color: #333;
}
.ComponentList .componentInfo_wrapper{
  position: relative;
}
.ComponentItem button{
  position: absolute;
  right: 0;
  bottom: 0;
}


/* ComponentDetail */
.ComponentDetail{
  margin-left: 20vw;
}

.ComponentDetail .component_wrapper{
  display: flex;
  padding-top: 100px;
}

.ComponentDetail .component_wrapper img{
 width: 600px;
}

.ComponentDetail .component_wrapper .componentInfo_wrapper{
  padding-top: 20px;
  padding-left: 20px;
  line-height: 30px;
}