@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
@import "reset.css";

/* 공통 CSS */
a {
  text-decoration: none;
}
body{
  margin:0;
  font-family: 'Jua', sans-serif, 'Noto Sans KR', sans-serif;
}
.kakaobtn{
  width: 200px;
  height: 60px;
  background: url("../public/assets/kakao_login_medium_narrow.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

/* Login.js */
.Login {
  background-image: url("../public/assets/containership.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.Login .LoginBox {
  position: absolute;
  width: 600px;
  top:200px;
  border-radius: 6px;
  background-color:#ffffff;
  box-shadow: 2px 2px 20px rgba(0,0,0,.5);
  color: rgb(0, 0, 0);
}
.Login h2{
  padding: 30px;
  font-size: 25px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.Login h2 strong{
  font-size: 70px;
  font-weight: 700;
  color: #1f353f;
}

.Login .login_wrapper {
  margin:10px;
  display: flex;
  justify-content: center;
}

.Login .kakaobtn{
  justify-content: center;
}

/* Loading */
.Loading {
  font-size: 30px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

/* Header */
.Header{
  border: 1px solid black;
  border-radius: 7px;
  width: 200px;
  height: fit-content;
  margin:10px;
}

/* UserInfo */
.UserInfo{
  width:100%;
  height: fit-content;
}
.UserInfo .user_img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.UserInfo img{
  border-radius: 70%;
  background-color: #ececec;
  width: 100px;
  height: 100px;
}
.UserInfo .user_data{
  margin-top: 15px;
  width: 100%;
  border-bottom: 1px solid black;
}
.UserInfo .user_data div{
  padding-bottom: 8px;
}

/* MenuList */
.MenuList{
  height: fit-content;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.MenuList a{
  padding: 20px;
  border-bottom: 1px solid black;
  display:block;
}

.MenuList .logout{
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.MenuList .logout button {
  position:relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
  border:0;
  cursor: pointer;
  background-color: #fff;
}

.MenuList .logout img{
  position: absolute;
  bottom:0;
  left:35px;
  top:5px;
  width: 20px;
  height: 20px;
}

/* Usermain */
.Usermain{
  display: flex;
}

/* VesselEnroll */
.VesselEnroll {
  padding-top: 100px;
  position: absolute;
  width: 100%;
  left: 40%;
}

.VesselEnroll .vessel_wrapper{
  width: 500px;
  background-color: #f6f5f0;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  border:1px solid black;
}

.VesselEnroll  h2{
  display: block;
  text-align: center;
  font-size: 30px;
  margin:20px;
}

.VesselEnroll form{
  font-size: 20px;
  padding:0px 30px 0px;
}
.VesselEnroll form input{
  width: 100%;
  margin-bottom: 12px;
  padding: 7px;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
}

.VesselEnroll button {
  font-family: 'Jua', sans-serif;
  width: 100%;
  font-size: 25px;
  margin: 20px 0px;

  border-radius: 5px;
}

/* SignUp */
.SignUp {
  padding-top: 50px;
  position: absolute;
  width: 100%;
  left: 40%;
}

.SignUp .signup_wrapper{
  width: 500px;
  background-color: #f6f5f0;
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(0,0,0,.3);
  border:1px solid black;
}
.SignUp  .signup_text{
  font-size: 30px;
  text-align: center;
  margin:15px;

}
.SignUp form{
  font-size: 20px;
  padding:10px 30px 0px;
}
.SignUp form input{
width: 100%;
margin-bottom: 12px;
padding: 7px;
border-radius: 4px;
outline: none;
box-sizing: border-box;
font-size: 14px;
}

.SignUp button {
  font-family: 'Jua', sans-serif;
  width: 100%;
  font-size: 25px;
  margin: 20px 0px;
  border-radius: 5px;
}

/* VesselLookup */
.VesselLookup,.MyVessel, .VesselDetail, .BlockDetail{
  margin:10px;
  border-radius: 5px;
}

.VesselLookup .Lookup{
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
}

/* VesselItem */

.VesselItem{
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  margin-top: 5px;
}

.VesselItem button{
}


/* MyVessel */

.MyVessel{
width: 300px;
}

.MyVessel h2{
text-align: center;
}


/* VesselDetail */

.VesselDetail{
  width: 300px;
}

.VesselDetail .vesselInfo{
  margin:7px;
  border: 1px solid black;
  border-radius: 5px;
}


/* BlockDetail */
.BlockDetail {

}

.BlockDetail .vesselInfo{
  margin:7px;
  border: 1px solid black;
  border-radius: 5px;
}


/* ComponentItem */

.ComponentItem {
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.ComponentItem img{
  width: 500px;
}